<div class="card shadow mt-4">
  <div class="card-body">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p>Age : <%= @user.age %> ans</p>
    <%= link_to "Retour", "/", class: "btn btn-dark" %>
  </div>
</div>
